body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main {
  grid-area: main;
  padding: 2rem;
}
.adds-layout {
  grid-area: adds;
  background-color: pink;
  padding: 2rem;
}

.counter {
  display: flex;
  gap: 1rem;
}

.counter > button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1rem;
}

.counter > span {
padding: 0.5rem 1.5rem;
font-size: 1.2rem;
line-height: 3rem;

}
.ads-layout {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: 
   'header header'
   'main adds'
   'footer footer'
  ;
}

.basic-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
   'header'
   'main' 
   'footer'
  ;
}